[color]
        ui = auto
        branch = auto
        diff = auto
        status = auto
[core]
        editor = vim
        pager = delta
[push]
        default = simple
[pull]
        rebase = true
[diff]
        wordRegex = .
[help]
        autocorrect = 1
[alias]
        st = status
        cm = commit -m
        amend = "commit --amend --no-edit"
        br = branch
        last = log -1 HEAD
        co = checkout
        ci = commit
        lg = log --pretty='%C(red)%h%Creset%C(yellow)%d%Creset %s %C(cyan)(%ar)%Creset'
        pom = pull origin main
        d = diff --ignore-all-space
        aliases = !git config --get-regexp ^alias\\.
        brl = for-each-ref --sort=-committerdate --format='%(refname:short)' refs/heads/
        rb = rebase
        uncommit = reset --soft HEAD^
[credential "https://dev.azure.com"]
	usehttppath = true
[filter "lfs"]
        required = true
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
